.home{
    width: 100vw;
    height: 100vh;
    background-color: $color-primary;
}

.auth{
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100vh;
    width: 100vw;

    &__left-section{
        width: 50%;
        background-color: $color-primary;

        @include responsive(phone){
            width: 0%;
         }

    }

    &__right-section{
        text-align: center;
        margin-top: 10rem;
        width: 50%;

        @include responsive(phone){
            width: 100%;
         }
    }
}