/*****BUTTON STYLINGS****/
.form-submit-button{
    display: inline-block;
    background-color: $color-primary;
    color: white;
    padding: 1rem 2rem;
    margin: 10px auto;
    text-transform: uppercase;
    position: relative;
    top: 30%;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.4rem;

    &:disabled{
      background-color: #cccccc;
      color: #666666;
      pointer-events: none;

    }
    &:required{
      border: none;
      outline: none;
    }
  
  @include responsive(phone){
    padding: 1.2rem 2.1rem;
    font-size: 1.7rem;
  
  }

  &:hover {
    box-shadow: 2px 2px 10px black;

  }
}

.add-button{
  padding: 1rem 4rem;
  @include removeDefaultButtonStyle;
  box-shadow: 0px 5px 10px rgba(black, .2), 0px -5px 10px rgba(black, .1);
  background-color: transparent;
  cursor: pointer;
  border: 2px solid red;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 0 auto;
  color: red;
  font-size: 1.5rem;
  border-radius: 20px;

  &:focus{
    opacity: .7;
  }

  &:hover{
    transform: scale(1.07);
  }
}

.sign-out{
  display: flex;
  font-size: 3rem;
  height: 100%;
  cursor: pointer;
  align-items: center;

  svg{
    font-size:  3rem;
  }
  
  &:focus{
    opacity: .7;
  }

  &:hover{
    transform: scale(1.07);
  }
}

.custom-button {
  border: 2px solid black;
  padding: 10px 20px;
  background-color: transparent;
  cursor:pointer;
  color: $color-primary;
  background-color:black;
  letter-spacing: 0.5px;
  outline: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  cursor: pointer;

  &:hover {
    color: white;
  }
}

